<div style="padding: 20px;">
  @if (podcast) {
    <form class="standard-form">
      <mat-form-field class="standard-width">
        <mat-label>Title (Searchtext)</mat-label>
        <input matInput [(ngModel)]="podcast.title" name="title" required #title />
        @if (!title.filled) {
          <mat-error>required</mat-error>
        }
      </mat-form-field>
      <mat-icon class="help-icon help-icon-input" aria-hidden="false" (click)="showHelp('title')">help_outline</mat-icon>
      <mat-form-field class="standard-width">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="podcast.description" name="description" required rows="5" #description></textarea>
        @if (!description.filled) {
          <mat-error>required</mat-error>
        }
      </mat-form-field>
      <mat-icon class="help-icon help-icon-textarea" (click)="showHelp('description')">help_outline</mat-icon>
      <mat-form-field class="standard-width">
        <mat-label>Author</mat-label>
        <input matInput [(ngModel)]="podcast.author" name="author" required #author />
        @if (!author.filled) {
          <mat-error>required</mat-error>
        }
      </mat-form-field>
      <mat-icon class="help-icon help-icon-input" (click)="showHelp('author')">help_outline</mat-icon>
      <mat-form-field class="standard-width">
        <mat-label>Website</mat-label>
        <input matInput [(ngModel)]="podcast.website" name="website" required type="url" #website />
        @if (!website.filled) {
          <mat-error>required</mat-error>
        }
      </mat-form-field>
      <mat-icon class="help-icon help-icon-input" aria-hidden="false" (click)="showHelp('website')">help_outline
      </mat-icon>
      <mat-form-field class="standard-width">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="podcast.email" name="email" required type="email" #email />
        @if (!email.filled) {
          <mat-error>required</mat-error>
        }
      </mat-form-field>
      <mat-icon class="help-icon help-icon-input" (click)="showHelp('email')">help_outline</mat-icon>
      <mat-form-field class="standard-width">
        <mat-label>Language</mat-label>
        <mat-select [(ngModel)]="podcast.language" name="language" required #language>
          @for (language of languages; track language) {
            <mat-option [value]="language.code">{{ language.name }}</mat-option>
          }
        </mat-select>
        @if (language.empty) {
          <mat-error>required</mat-error>
        }
      </mat-form-field>
      <mat-icon class="help-icon help-icon-input" (click)="showHelp('language')">help_outline</mat-icon>
      <mat-form-field class="standard-width">
        <mat-label>Image Url</mat-label>
        <input matInput [(ngModel)]="podcast.imageUrl" name="imageUrl" required type="url" #imageUrl />
        @if (!imageUrl.filled) {
          <mat-error>required</mat-error>
        }
      </mat-form-field>
      <mat-icon class="help-icon help-icon-input" (click)="showHelp('imageUrl')">help_outline</mat-icon>
      <mat-form-field class="standard-width">
        <mat-label>Category</mat-label>
        <mat-select [(ngModel)]="podcast.category" name="category" required #category>
          @for (category of categories; track category) {
            <mat-option [value]="category">{{
              category
            }}</mat-option>
          }
        </mat-select>
        @if (category.empty) {
          <mat-error>required</mat-error>
        }
      </mat-form-field>
      <mat-icon class="help-icon help-icon-input" (click)="showHelp('category')">help_outline</mat-icon>
      <div class="help-checkboxcontainer">
        <mat-checkbox [(ngModel)]="podcast.explicit" name="explicit">Explicit</mat-checkbox>
      </div>
      <mat-icon class="help-icon help-icon-checkbox" (click)="showHelp('explicit')">help_outline</mat-icon>
    </form>
  }
</div>