.help-icon {
  position: relative;
  cursor: pointer;
  margin-left: 8px;
  top: 6px;
}

.help-icon-input {
  margin-top: 13px;
}

.help-icon-checkbox {
  margin-top: 0;
}

.help-icon-textarea {
  margin-top: 72px;
}

.help-checkboxcontainer {
  display: inline-block;
}

.standard-width {
  width: 90%;
}

.standard-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}