<mat-tab-group dynamicHeight>
  <mat-tab label="General">
    <div class="example-small-box mat-elevation-z4">
      <manager-tab-general></manager-tab-general>
    </div>
  </mat-tab>
  <mat-tab label="Optional Information">
    <div class="example-small-box mat-elevation-z4">
      <manager-tab-general-optional></manager-tab-general-optional>
    </div>
  </mat-tab>
  <mat-tab label="Episodes">
    <div class="example-large-box mat-elevation-z4">
      <manager-tab-episodes></manager-tab-episodes>
    </div>
  </mat-tab>
</mat-tab-group>
